# React Native Fast Crypto Test App

# React Native
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Metro
.metro-health-check*
.haste_cache/

# Debug
flipper-dump.txt

# React Native Codegen
FBReactNativeSpec/
react-native-codegen-*.tgz

# Bundle artifacts
*.jsbundle

# Android
**/.gradle/
**/build/
**/.cxx/
android/app/debug/
android/app/release/
android/gradle/wrapper/gradle-wrapper.jar
android/local.properties
android/gradlew
android/gradlew.bat
*.hprof
*.ap_
*.dex

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/build/Build/Intermediates.noindex/
ios/build/Build/Products/
ios/.xcode.env.local
DerivedData/

# macOS
.DS_Store

# Temporary files
*.tmp
*.temp

# Local Environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
*.tgz
*.tar.gz

# React Native Debugger
.vscode/settings.json

# Testing
e2e/artifacts/

# Babel
.babel_cache/

# Ruby (CocoaPods)
Gemfile.lock
vendor/