# Build output:
/android/*.jar
/android/build/
/android/src/main/jniLibs/
/ios/RNFastCrypto.xcframework/
/lib/
/tmp/

# Package managers:
node_modules/
npm-debug.log
package-lock.json
yarn-error.log

# Editors:
.DS_Store
.idea/
.vscode/
